<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="isHandset$ | async"
>
  <mat-sidenav
    mode="side"
    opened
    class="sidenav"
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    #drawer
  >
    <mat-nav-list class="nav-list">
      <a
        (click)="isHandset ? drawer.toggle() : ''"
        class="nav-item"
        mat-list-item
        routerLink=""
        fragment="home"
      >
        Home
      </a>
      <a
        (click)="isHandset ? drawer.toggle() : ''"
        class="nav-item"
        mat-list-item
        routerLink=""
        fragment="projects"
      >
        Projects
      </a>
      <a
        (click)="isHandset ? drawer.toggle() : ''"
        class="nav-item"
        mat-list-item
        routerLink="about"
      >
        About
      </a>
      <a
        (click)="isHandset ? drawer.toggle() : ''"
        class="nav-item"
        mat-list-item
        routerLink="user"
      >
        MBMNN-DSGN
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      mat-mini-fab
      color="primary"
      class="menu-button"
      type="button"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <section class="body-wrapper">
      <ng-content></ng-content>
      <app-footer></app-footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
