mat-card {
  width: clamp(300px, 60%, 600px);
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 46px;
}

.server-error {
  margin: 8px 0;
}

input {
  height: 2em;
  div.mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

div.mat-form-field-wrapper {
  padding-bottom: 1.15em;
}
